<div class="tree">
     <ul class="first">
       <li class="first techops"><span class="box"><div class="avatar"></div>Department Area Name<br><strong>Director</strong><br><br>John Smith</span>
         <ul>
           <li><span class="box"><div class="avatar"></div>Manager<br/>Jane Smith</span>
             <ul>
               <li><span class="box"><div class="avatar"></div>Team Leader<br/>John Doe</span>
                 <ul>
                   <li><span class="box"><div class="avatar"></div>Next Title<br/>Next Name</span></li>
                 </ul>
               </li>
               <li><span class="box"><div class="avatar"></div>Team Leader<br/>Jane Doe</span>

               </li>
               <li><span class="box"><div class="avatar"></div>Team Leader<br/>Jeff Doe</span>
                 <li><span class="box"><div class="avatar"></div>Team Leader</span></li>
               </li>
             </ul>
           </li>
           <li><span class="box"><div class="avatar"></div>Manager 2</span>
             <ul>
               <li><span class="box"><div class="avatar"></div>Name 3</span></li>
               <li><span class="box"><div class="avatar"></div>Name 4</span></li>
             </ul>
           </li>
         </ul>
       </li>
     </ul>
</div>